:root {
    --black: #2b2a2c;
    --gray: #6a696b;
    --gray-light: #dedede;
    --white: #ffffff;

}


/* Подключение стилей и шрифтов */

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 1rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Контейнер */

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
}


/* Меню */

.header {
    padding: 1rem 0;
    position: relative;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4rem;


}

.nav {
    padding-top: 4rem;
    padding-left: 0rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;

}

.nav_link {
    margin-left: 1rem;
    position: relative;
    font-size: 1rem;
    color: var(--black);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.nav_link:hover {
    border-bottom: 2px solid black;
    padding: 0 0 4px;
}


/* Обложка */

.intro_inner {
    display: flex;
    padding-top: 5rem;
    padding-bottom: 8rem;
    padding-left: 1rem;
    position: relative;

    border-bottom: 1px solid black;

}

.intro_title {
    color: var(--black);
    font-weight: bold;
    font-size: 2.8rem;
    margin-top: -2rem;
    margin-bottom: 15px;
}

.intro_sub {
    color: var(--black);
    font-weight: bold;
    font-size: 2rem;
}

.sub_text {
    color: var(--gray);
    font-weight: thin;
    font-size: 1.3rem;
    line-height: 140%;
    padding-top: 6rem;
    padding-right: 38rem;
    margin-bottom: 1.5rem;
}

.main_image {
    position: absolute;
    top: 0px;
    right: -10px;
    z-index: 1;
    width: 600px;
    height: 666px;
}

.button {
    display: inline-block;
    padding: 1rem 2rem;
    width: 14rem;

    position: absolute; 
    top: 430px;

    border: 1px solid black;
    border-radius: 1.8rem;
    background: none;
    cursor: pointer;

    font-size: 1rem;
    color: var(--black);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    opacity: 0.7;
}

.button:hover {
    background: black;
    color: white;
}


/* 1 блок */

.first_block_text {
    color: var(--black);
    font-weight: thin;
    font-size: 1.2rem;
    line-height: 140%;
    margin-top: 4rem;
    margin-bottom: 6rem;
    margin-left: 13rem;
    margin-right: 12rem;
}

.points {
    display: flex;
    margin-left: 3rem;
    margin-right: 3rem;
    justify-content: space-between;
}

.number {
    padding: 0rem 0;
    color: var(--black);
    font-weight: bold;
    font-size: 3.5rem;
}

.number_title {
    display: flex;
    padding: 2rem 0;
    margin-top: -25px;
    color: var(--gray);
    font-size: 1.1rem;
}


/* 2 блок */

.second_block {
    margin-top: 6rem;
    margin-left: 3rem;
}

.first_inner {
    padding-left: 0rem;
}

.colortext {
    color: #6561A8;
}

.second_block_text {
    color: var(--black);
    font-weight: thin;
    font-size: 1.2rem;
    line-height: 140%;
    margin-top: -22rem;
    margin-left: 45rem;
    margin-right: 3rem;
    margin-bottom: 0.5rem;
}

.second_end_block {
    margin-top: 4rem;
    margin-left: 2rem;
}

.second_end_block_text {
    color: var(--black);
    font-weight: thin;
    font-size: 1.2rem;
    line-height: 140%;
    margin-left: 12rem;
    margin-right: 13rem;
    margin-bottom: 2rem;
}


/* 2 блок. Визуализация. График */

.viz_1 {
    padding-left: 1rem;
    padding-right: 0rem;
    margin-bottom: 0.5rem;
    width: 650px;
    height: 345px;
}


/* 3 блок */

.hr{
    margin-top: 5rem;
    margin-bottom: 6rem;
}

.third_block {
    margin-top: 6rem;
    margin-left: 3rem;
}

.block_title {
    color: var(--black);
    line-height: 140%;
    padding-top: 0rem;
    padding-bottom: 2rem;
    margin-left: -1rem;
    margin-right: 3rem;
}

.third_block_text {
    color: var(--black);
    font-weight: thin;
    font-size: 1.2rem;
    line-height: 140%;
    padding-top: 0.5rem;
    margin-left: 9rem;
    margin-right: 13rem;
    margin-bottom: 2rem;
}


/* 3 блок. Информационный тултип */

.name {
    display: inline-block;
    padding: 0.13rem 0.4rem;
    width: 1.2rem;

    position: absolute; 
    top: 1620px;
    right: 132px;

    border: 1px solid black;
    border-radius: 1rem;
    background: none;
    cursor: pointer;

    font-size: 0.7rem;
    color: var(--black);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    opacity: 0.7;
}

.name:hover {
    background: black;
    color: white;
}

.tooltip {
    position: absolute;
    top: 1430px;
    right: 45px;

    font-size: 0.7rem;

    margin: 5px;
    width: 310px;
    height: 178px;
    background-color: white;

    border: 1px solid #D0CECE;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    display: none;
    
}


/* 3 блок. Визуализация */

.tableauPlaceholder {
    padding-left: 9rem;
    margin-right: 9rem;
}


/* 4 блок */

.fourth_block {
    margin-top: -12.5rem;
    margin-left: 3rem;
}

.fourth_block_text {
    color: var(--black);
    font-weight: thin;
    font-size: 1.2rem;
    line-height: 140%;
    padding-top: 0.5rem;
    margin-left: 9rem;
    margin-right: 12rem;
    margin-bottom: 3rem;
}

.tableauPlaceholder_2 {
    margin-left: -7rem;
    margin-right: 7rem;
}

.fourth_block_text_2 {
    position: relative;
    z-index: 1;
    color: var(--black);
    font-weight: thin;
    font-size: 1.2rem;
    line-height: 140%;
    margin-top: -11.5rem;
    margin-left: 9rem;
    margin-right: 14rem;
    margin-bottom: 2rem;
}

.colortext_2 {
    color: #C7C5DD;
}

.colortext_3 {
    color: #8B8ABF;
}

.viz_2 {
    margin-left: 2.5rem;
    margin-bottom: 3rem;
    width: 1000px;
    height: 178px;
}

.viz_2_mobile {
    display: none;
}


/* 5 блок */

.fifth_block {
    margin-left: 3rem;
}

.fifth_block_text {
    color: var(--black);
    font-weight: thin;
    font-size: 1.2rem;
    line-height: 140%;
    padding-top: 0.5rem;
    margin-left: 9rem;
    margin-right: 14rem;
    margin-bottom: 6rem;
}

.viz_3 {
    margin-top: 4rem;
    margin-left: 0rem;
    width: 790px;
    height: 513px;
}


/* 6 блок */

.sixth_block {
    margin-top: 0rem;
    margin-left: 3rem;
}

.sixth_block_text {
    color: var(--black);
    font-weight: thin;
    font-size: 1.2rem;
    line-height: 140%;
    padding-top: 0.5rem;
    margin-left: 9rem;
    margin-right: 14rem;
    margin-bottom: 6rem;
}


/* Оформление блока, раскрывающегося по ссылке */

.pre {
    background-color: #E5E5F0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem 2rem;
}

.pre_title {
    display: none; 
}

.pre_title + label ~ div{
    display: none;
}

.pre_title + label {
    border-bottom: 1px dotted #8B8ABF;
    padding: 0;
    color: black;
    font-weight: bold;
    cursor: pointer;
    display: inline-block; 
}

.pre_title:checked + label {
    color: #100d73;
    font-weight: bold;
    border-bottom: 0;
}

.pre_title:checked + label + div {
    display: block; 
}

.pre_text {
    padding-top: 1rem;
    font-size: 1rem;
    line-height: 170%;
}

.pre_2 {
    background-color: #E5E5F0;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem 2rem;
}


/* Оформление блока, раскрывающегося по ссылке */

.pre_title_2 {
    display: none; 
}
.pre_title_2 + label ~ div{
    display: none;
}

.pre_title_2 + label {
    border-bottom: 1px dotted #8B8ABF;
    padding: 0;
    color: black;
    font-weight: bold;
    cursor: pointer;
    display: inline-block; 
}

.pre_title_2:checked + label {
    color: #100d73;
    font-weight: bold;
    border-bottom: 0;
}

.pre_title_2:checked + label + div {
    display: block; 
}

.pre_text_2 {
    padding-top: 1rem;
    font-size: 1rem;
    line-height: 170%;
}

.points_2 {
    display: flex;
    margin-left: -1rem;
    margin-right: 1rem;
    justify-content: space-between;
}

.number_2 {
    padding: 0rem 0;
    color: var(--black);
    font-weight: bold;
    font-size: 2.5rem;
}

.plus_1 {
    color: #BEBEDA;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: -2rem;
    margin-bottom: 0rem;
    padding-left: 19.5rem;
    padding-right: 3rem;
}

.plus_2 {
    color: #BEBEDA;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: -2rem;
    margin-bottom: 0rem;
    padding-left: 22.5rem;
    padding-right: 3rem;
}

.number_title_2 {
    display: flex;
    padding: 2rem 0;
    margin-top: -25px;
    color: var(--gray);
    font-size: 1.1rem;
}


/* 7 блок */

.seventh_block {
    margin-top: 4rem;
    margin-left: 3rem;
}

.seventh_block_text {
    color: var(--black);
    font-weight: thin;
    font-size: 1.2rem;
    line-height: 140%;
    padding-top: 0.5rem;
    margin-left: 9rem;
    margin-right: 14rem;
    margin-bottom: 6rem;
}


/* 8 блок */

.eighth_block {
    margin-top: 4rem;
    margin-left: 3rem;
}

.eighth_block_text {
    color: var(--black);
    font-weight: thin;
    font-size: 1.2rem;
    line-height: 140%;
    padding-top: 0.5rem;
    margin-left: 9rem;
    margin-right: 14rem;
    margin-bottom: 6rem;
}

.region {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.points_3 {
    display: grid;
    grid-template-columns: 350px 450px;
    align-items: center;
    margin-top: 2rem;
    margin-left: 0rem;
    margin-right: 3rem;
    margin-bottom: 0rem;
    justify-content: space-between;
}

.number_3 {
    padding: 0rem 0;
    color: var(--black);
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 120%;
}

.number_title_3 {
    display: flex;
    padding: 1rem 0;
    margin-top: 0px;
    color: var(--gray);
    font-size: 1.1rem;
}

.checks {
    margin-top: 0rem;
    margin-left: 3rem;
}

.points_4 {
    display: grid;
    grid-template-columns: 350px 450px;
    grid-template-rows: 200px 200px;
    align-items: center;
    margin-top: 2rem;
    margin-left: 0rem;
    margin-right: 3rem;
    margin-bottom: 0rem;
    justify-content: space-between;
}

/* Вывод */

.end_block {
    margin-top: 3rem;
    margin-left: 3rem;
}

.end_block_text {
    color: var(--black);
    font-weight: thin;
    font-size: 1.2rem;
    line-height: 140%;
    padding-top: 0.5rem;
    margin-left: 12rem;
    margin-right: 14rem;
    margin-bottom: 6rem;
}


/* Оформление цитат */

.quote {
    margin-left: 4rem;
    margin-right: 0rem;
}

.dots {
    padding-top: 5rem;
    margin-left: -4rem;
    font-size: 5rem;
    font-weight: thin;
    color: #BEBEDA;
}

.quote_text {
    margin-top: -3rem;
    font-size: 1.2rem;
    font-weight: thin;
    line-height: 140%;
}

.quote_author {
    margin-top: 1rem;
    padding-bottom: 3.7rem;
    font-size: 1rem;
}


/* Оформление блока с данными */

.data_block {
    margin-top: 4rem;
    margin-left: 3rem;
}

.data_block_text {
    color: var(--black);
    font-weight: thin;
    font-size: 1.2rem;
    line-height: 140%;
    padding-top: 0.5rem;
    margin-left: 10.5rem;
    margin-right: 9rem;
    margin-bottom: 6rem;
}

.pre_3 {
    font-size: 1.2rem;
    background-color: #E5E5F0;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 2rem 2rem;
}


/* Блоки, раскрывающиеся при нажатии */

.pre_title_3 {
    display: none;
}

.pre_title_3 + label ~ div{
    display: none;
}

.pre_title_3 + label {
    border-bottom: 1px dotted #8B8ABF;
    padding: 0;
    color: black;
    font-weight: bold;
    cursor: pointer;
    display: inline-block; 
}

.pre_title_3:checked + label {
    color: #100d73;
    font-weight: bold;
    border-bottom: 0;
}

.pre_title_3:checked + label + div {
    display: block; 
}

.pre_text_3 {
    padding-top: 1rem;
    font-size: 1rem;
    line-height: 170%;
}


/* Оформление гиперссылок */

.url {
    color: #100d73
}

.colortext_4 {
    color: gray;
    font-size: 1rem;
    line-height: 120%;
}


/* Оформление списков*/

ul {
    list-style: none;
    margin-left: 2rem;
}

.yes {
    position: relative;
    line-height: 200%;
}

.yes:before {
    content: '';
    background-image: url('yes.png');
    position: absolute;
    width: 30px; 
    height: 24px;
    background-size: 30px 24px;
    left: -40px; 
    top: 5px;
}

.yes_m {
    position: relative;
    top: 7px;
    line-height: 120%;
}

.yes_m:before {
    content: '';
    background-image: url('yes.png');
    position: absolute;
    width: 30px; 
    height: 24px;
    background-size: 30px 24px;
    left: -40px; 
    top: 5px;
}

.no {
    position: relative;
    line-height: 300%;
}

.no:before {
    content: '';
    background-image: url('no.png');
    position: absolute;
    width: 25px; 
    height: 25px;
    background-size: 25px 25px;
    left: -40px; 
    top: 12px;
}

.no_k {
    position: relative;
    top: 1rem;
    line-height: 280%;
}

.no_k:before {
    content: '';
    background-image: url('no.png');
    position: absolute;
    width: 25px; 
    height: 25px;
    background-size: 25px 25px;
    left: -40px; 
    top: 12px;
}

.yes_l {
    position: relative;
    top: 7px;
    line-height: 120%;
}

.yes_l:before {
    content: '';
    background-image: url('yes.png');
    position: absolute;
    width: 30px; 
    height: 24px;
    background-size: 30px 24px;
    left: -40px; 
    top: 0px;
}

.no_s {
    position: relative;
    top: 1rem;
    line-height: 120%;
}

.no_s:before {
    content: '';
    background-image: url('no.png');
    position: absolute;
    width: 25px; 
    height: 25px;
    background-size: 25px 25px;
    left: -40px; 
    top: 12px;
}

/* Адаптивная верстка под планшет*/

/* ipad*/

@media(max-width: 1199px) {

    .header {
        display: none;
    }

    .header_inner {
        display: none;
    }

    .nav {
        display: none;
    }

    .nav_link {
        display: none;
    }

    .nav_link {
        display: none;
    }
    
    .nav_link:hover {
        display: none;
    }
    
    .intro_content {
        padding-bottom: 14rem;
    }

    .intro_title {
        font-size: 2.3rem;
        margin-top: 1rem;
        margin-bottom: 15rem;
    }

    .intro_sub {
        margin-top: -14.5rem;
        margin-right: 0rem;
        font-size: 2rem;
    }
    
    .sub_text {
        font-size: 1.3rem;
        padding-top: 4rem;
        padding-right: 0rem;
        margin-bottom: 1rem;
    }

    .main_image {
        top: 18rem;
        margin-right: 0.2rem;
        width: 500px;
        height: 555px;
    }

    .first_block {
        margin-left: 0.5rem;
    }

    .first_block_text {
        margin-left: 0rem;
        margin-right: 0.5rem;
        margin-bottom: 3rem;
        font-size: 1.2rem;
    }

    .pre_inner {
        margin-left: 0.5rem;
    }

    .points {
        display: flex;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .number {
        font-size: 3rem;
    }

    .number_title {
        font-size: 1rem;
    }

    .block_title {
        margin-left: -2rem;
    }

    .first_content {
        margin-top: -5rem;
        margin-left: 0rem;

    }

    .second_block {
        margin-top: 7rem;
    }

    .second_block_text {
        color: var(--black);
        font-weight: thin;
        line-height: 140%;
        margin-top: -20rem;
        margin-left: 25rem;
        margin-right: -1rem;
        margin-bottom: 0.5rem;
    }
    
    .second_end_block {
        margin-top: 3rem;
        margin-left: 0rem;
    }
    
    .second_end_block_text {
        color: var(--black);
        font-weight: thin;
        font-size: 1.2rem;
        line-height: 140%;
        margin-left: 1rem;
        margin-right: -1rem;
        margin-bottom: 2rem;
    }
    
    .viz_1 {
        margin-top: 1rem;
        margin-left: -3.4rem;
        padding-right: 0rem;
        margin-bottom: 0.5rem;
        width: 450px;
        height: 250px;
    }

    .name {
        top: 1550px;
        right: -10px;
        font-size: 0.7rem;
    }
    
    .tooltip {
        top: 1350px;
        right: 5px;
        font-size: 0.7rem;
    }

    .third_block {
        margin-top: 4rem;
        margin-left: 13rem;
        margin-right: -4.5rem;
    }

    .second_inner {
        margin-left: -15rem;
    }

    .second_content {
        margin-left: 5rem;
    }

    .third_block_text {
        margin-top: -1rem;
        margin-left: -2rem;
        margin-right: 6rem;
    }

    .tableauPlaceholder {
        margin-left: -6rem;
        margin-right: 4.7rem;
    }

    .fourth_block {
        margin-top: -14rem;
        margin-left: 3rem;
    }

    .fourth_block_text {
        margin-top: -1rem;
        margin-left: -1.8rem;
        margin-right: 0rem;
    }

    .tableauPlaceholder_2 {
        margin-top: -1rem;
        margin-left: -5rem;
        margin-right: -5rem;
    }

    .fourth_block_text_2 {
        margin-top: 2rem;
        margin-left: -1.8rem;
        margin-right: 1rem;
    }

   .viz_2 {
        display: flex;
        margin-left: -1rem;
        width: 700px;
        height: 125px;
    }

    .viz_2_mobile {
        display: none;
    }

    .fifth_block {
        margin-top: 4rem;
        margin-left: 3rem;
    }

    .fifth_block_text {
        margin-top: -1rem;
        margin-left: -1.8rem;
        margin-right: 1rem;
    }

    .first_ul {
        margin-left: 0rem;
        margin-bottom: 3rem;
        margin-bottom: 3rem;
    }

    .viz_3 {
        margin-top: 2rem;
        margin-left: 0rem;
        width: 750px;
        height: 500px;
    }

    .sixth_block {
        margin-top: -1.5rem;
        margin-left: 3rem;
    }

    .sixth_block_text {
        margin-top: -1rem;
        margin-left: -1.8rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
    }

    .pre {
        margin-bottom: 1.5rem;
    }

    .points_2 {
        display: flex;
        margin-top: 0rem;
        padding-left: 1rem;
    }

    .number_2 {
        margin-left: -2rem;
        font-size: 1.5rem;
    }

    .number_title_2 {
        margin-left: -2rem;
        font-size: 0.9rem;
    }

    .plus_1 {
        margin-left: -7rem;
        margin-right: 1rem;
    }

    .plus_2 {
        margin-left: -11rem;
        margin-right: 1rem;
    }

    .seventh_block {
        margin-top: 2rem;
        margin-left: 3rem;
    }

    .seventh_block_text {
        margin-top: -1rem;
        margin-left: -1.8rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
    }

    ul {
        margin-left: 0rem;
    }

    .yes {
        line-height: 120%;
        margin-bottom: 1rem;
    }

    .yes_m {
        line-height: 120%;
        margin-bottom: 1rem;
    }

    .no_k {
        margin-bottom: 1rem;
    }

    .no {
        margin-bottom: 1rem;
    }

    .eighth_block {
        margin-top: 4rem;
        margin-left: 3rem;
    }

    .eighth_block_text {
        margin-top: -0.5rem;
        margin-left: -1.8rem;
        margin-right: 0rem;
        margin-bottom: 2rem;
    }

    .checks {
        margin-left: 0rem;
    }
    .points_3 {
        display: grid;
        grid-template-columns: 350px 300px;
    }

    .points_4 {
        display: grid;
        grid-template-columns: 350px 300px;
        grid-template-rows: 150px 200px;
        align-items: center;
        margin-top: 2rem;
        margin-left: 0rem;
        margin-right: 3rem;
        margin-bottom: 1.5rem;
        justify-content: space-between;
    }

    .end {
        margin-top: 4rem;
        margin-left: 1rem;
    }

    .end_block_text {
        margin-top: -0.5rem;
        margin-left: 0rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
    }

    .dots {
        font-size: 3rem;
    }

    .quote_text {
        margin-left: -1rem;
        margin-top: -2.3rem;
        margin-bottom: 1rem;
    }

    .quote_author {
        margin-left: -1rem;
    }

    .data {
        margin-left: 1rem;
    }

}

/* Адаптивная верстка под телефон*/

/* iphone 6/7/8 & iphone x*/

@media (max-width: 767px) {
    .header {
        display: none;
    }

    .header_inner {
        display: none;
    }

    .nav {
        display: none;
    }

    .nav_link {
        display: none;
    }

    .nav_link {
        display: none;
    }
    
    .nav_link:hover {
        display: none;
    }
    
    .intro_content {
        padding-bottom: 6rem;
    }

    .intro_title {
        font-size: 1rem;
        margin-top: -3rem;
        margin-bottom: 15rem;
    }

    .intro_sub {
        margin-top: -14.5rem;
        margin-right: 3rem;
        font-size: 1.5rem;
    }
    
    .sub_text {
        font-size: 1rem;
        padding-top: 2rem;
        padding-right: 2rem;
        margin-bottom: 11rem;
    }

    .main_image {
        top: 18rem;
        padding-top: 3rem;
        padding-left: 0rem;
        padding-right: 2rem;
        width: 380px;
        height: 422px;
    }

    .first_block {
        margin-left: 0.5rem;
    }

    .first_block_text {
        margin-left: 0rem;
        margin-right: 0.5rem;
        margin-bottom: 2rem;
        font-size: 1.1rem;
    }

    .pre_inner {
        margin-left: 0.5rem;
    }

    .points {
        display: inline;
        margin-left: 10rem;
        margin-right: 0.5rem;
    }

    .block_title {
        margin-left: -2rem;
    }

    .first_content {
        margin-top: -5rem;

    }

    .second_block_text {
        margin-top: -33rem;
        margin-left: -2rem;
        margin-right: 0.5rem;
        margin-bottom: 10rem;
        font-size: 1.1rem;
    }

    .name {
        top: 2025px;
        right: 17px;
        font-size: 0.7rem;
    }
    
    .tooltip {
        top: 1835px;
        right: 30px;
        font-size: 0.7rem;
    }

    .viz_1 {
        margin-top: 19rem;
        margin-left: -3.5rem;
        height: 180px;
        width: 360px;
    }

    .second_end_block_text {
        margin-top: 16rem;
        margin-left: 1rem;
        margin-right: 0.5rem;
        margin-bottom: 10rem;
        font-size: 1.1rem;
    }

    .third_block {
        margin-top: -6rem;
        margin-left: 13rem;
        margin-right: -4.5rem;
    }

    .second_inner {
        margin-left: -15rem;
    }

    .second_content {
        margin-left: 5rem;
    }

    .third_block_text {
        margin-top: -1rem;
        margin-left: -2rem;
        margin-right: 6rem;
    }

    .tableauPlaceholder {
        margin-left: -6rem;
        margin-right: 4.7rem;
    }

    .fourth_block {
        margin-top: -11rem;
        margin-left: 3rem;
    }

    .fourth_block_text {
        margin-top: -1rem;
        margin-left: -1.8rem;
        margin-right: 0rem;
    }

    .tableauPlaceholder_2 {
        margin-top: -1rem;
        margin-left: -5rem;
        margin-right: -5rem;
    }

    .fourth_block_text_2 {
        margin-top: -22rem;
        margin-left: -1.8rem;
        margin-right: 1rem;
    }

    .viz_2 {
        display: none;
    }

    .viz_2_mobile {
        display: flex;
        margin-left: -2.5rem;
        width: 360px;
        height: 205.7px;
    }

    .fifth_block {
        margin-top: 4rem;
        margin-left: 3rem;
    }

    .fifth_block_text {
        margin-top: -1rem;
        margin-left: -1.8rem;
        margin-right: 1rem;
    }

    .first_ul {
        margin-left: 0rem;
    }

    .viz_3 {
        margin-top: 2rem;
        margin-left: 0rem;
        width: 320px;
        height: 213px;
    }

    .sixth_block {
        margin-top: -1.5rem;
        margin-left: 0rem;
    }

    .sixth_block_text {
        margin-top: -1rem;
        margin-left: -1.8rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
    }

    .pre {
        margin-bottom: 1.5rem;
    }

    .points_2 {
        display: inline;
        margin-top: -10rem;
        padding-left: 20rem;
    }

    .number_2 {
        margin-left: -2rem;
        font-size: 2rem;
    }

    .number_title_2 {
        margin-left: -2rem;
        margin-right: 4rem;

    }

    .plus_1 {
        margin-left: -4rem;
    }

    .plus_2 {
        margin-left: -7rem;
    }

    .seventh_block {
        margin-top: 1rem;
        margin-left: 0rem;
    }

    .seventh_block_text {
        margin-top: -1rem;
        margin-left: -1.8rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
    }

    ul {
        margin-left: 0rem;
    }

    .yes {
        line-height: 120%;
        margin-bottom: 1rem;
    }

    .yes_m {
        line-height: 120%;
        margin-bottom: 1rem;
    }

    .no_k {
        line-height: 120%;
        margin-bottom: 2.5rem;
    }

    .no {
        line-height: 120%;
        margin-bottom: 1rem;
    }

    .eighth_block {
        margin-top: 4rem;
        margin-left: 0rem;
    }

    .eighth_block_text {
        margin-top: -0.5rem;
        margin-left: -1.8rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
    }

    .points_3 {
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: 200px 200px;
        align-items: center;
        margin-top: 1rem;
        margin-left: 0rem;
        margin-right: 3rem;
        margin-bottom: 0rem;
        justify-content: space-between;
    }

    .checks {
        margin-left: 0rem;
    }

    .points_4 {
        display: grid;
        grid-template-columns: 350px;
        grid-template-rows: 50px 150px;
        align-items: center;
        margin-top: 4rem;
        margin-left: 0rem;
        margin-right: 3rem;
        margin-bottom: 1.5rem;
        justify-content: space-between;
    }

    .checks {
        margin-left: 0rem;
    }

    .end {
        margin-top: 4rem;
        margin-left: 0rem;
    }

    .end_block_text {
        margin-top: -0.5rem;
        margin-left: -1.8rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
    }

    .dots {
        font-size: 3rem;
    }

    .quote_text {
        margin-left: -1rem;
        margin-top: -2.3rem;
        margin-bottom: 1rem;
    }

    .quote_author {
        margin-left: -1rem;
    }

    .data {
        margin-left: -2rem;
        margin-right: 1rem;
    }

}



